@{
    ViewData["Title"] = "About Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <div class="main-wrapper">
                <div class="row col-12">
                    <div class="col-lg-6">
                        <img src="~/images/avatars/undraw_Team_spirit_re_yl1v-removebg-preview.png" alt="" style="margin-left:-30px"> 
                    </div>
                    <div class="col-lg-6">
                        <div class="card stat-widget card-bg">
                            <div class="card-body">
                               VTP Nədir?.. VTP - Gənclərin iş dünyasını daha yaxşı başa düşməsi üçün virtual şəkildə təşkil olunan Təcrübə Proqramıdır.
Sosial məsuliyyət prinsipindən çıxış edərək "2020-ci ildə 20 gəncin həyatına toxunaq!" şüarı ilə ilk əyani təcrübə proqramımızı həyata keçirdik. 2020-ci ilin ilk yarısında "Covid-19" pandemiyasının qlobal səviyyədə yayılmasından sonra ölkəmizdə müəyyən məhdudiyyətlərin qüvvəyə minməsi ilə əyani təcrübə proqramımızı davam etdirmək mümkün olmadı. Pandemiyanı fürsətə çevirərək daha çox gəncin həyatına toxuna bilmək üçün Özgün Yapı şirkəti olaraq "Virtual Təcrübə Proqramı" layihəsinə start verdik. Belə ki, 2020-ci il 21 oktyabr-21 dekabr tarixləri aralığında ilk "VTP" layihəsini həyata keçirdik. Proqrama olan yüksək tələbat növbəti illər üçün davamlı şəkildə virtual təcrübə proqramları təşkil etməyimizə zərurət yaratdı. Böyük maraqla qarşılanan "VTP'21 Yaz", "VTP'21 Yay", "VTP'21 Payız" və "VTP'22 Yaz" proqramlarını bitirmiş və hal-hazırda "VTP'22 Yay" proqramı ilə sosial layihəmizi davam etdirməkdəyik.

                            </div>

                        </div>
                    </div>

                </div>

                <div class="row"style="margin-top:65px">
                    <div class="header-title flex-fill mt-50">
                        <a href="#" id="sidebar-toggle"></a>
                        <h5>Komanda üzvləri</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card contact-card card-bg">
                                <div class="card-body text-center">
                                   <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60" alt="">
                                    <div class="contact-card-info">
                                        <h6>Mehman Maniyev</h6>
                                        <span>Web Developer</span>
                                    </div>
                                    <div class="contact-card-buttons">
                                        <button type="button" class="btn btn-circle btn-primary m-b-xs"><i class="fas fa-phone"></i></button>
                                        <button type="button" class="btn btn-circle btn-success m-b-xs"><i class="fas fa-reply"></i></button>
                                        <button type="button" class="btn btn-circle btn-danger m-b-xs"><i class="fas fa-video"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card contact-card card-bg">
                                <div class="card-body text-center">
                                     <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60" alt="">
                                    <div class="contact-card-info">
                                        <h6>Ceyhun Mirzəyev</h6>
                                        <span>Full-Stack Developer</span>
                                    </div>
                                    <div class="contact-card-buttons">
                                        <button type="button" class="btn btn-circle btn-primary m-b-xs"><i class="fas fa-phone"></i></button>
                                        <button type="button" class="btn btn-circle btn-success m-b-xs"><i class="fas fa-reply"></i></button>
                                        <button type="button" class="btn btn-circle btn-danger m-b-xs"><i class="fas fa-video"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card contact-card card-bg">
                                <div class="card-body text-center">
                                    <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dXNlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60" alt="">
                                    <div class="contact-card-info">
                                        <h6>Galib İbrahimov</h6>
                                        <span>Entrepreneur</span>
                                    </div>
                                    <div class="contact-card-buttons">
                                        <button type="button" class="btn btn-circle btn-primary m-b-xs"><i class="fas fa-phone"></i></button>
                                        <button type="button" class="btn btn-circle btn-success m-b-xs"><i class="fas fa-reply"></i></button>
                                        <button type="button" class="btn btn-circle btn-danger m-b-xs"><i class="fas fa-video"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card contact-card card-bg">
                                <div class="card-body text-center">
                                    <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60" alt="">

                                    <div class="contact-card-info">
                                        <h6>Nicat Zeynalov</h6>
                                        <span>Entrepreneur</span>
                                    </div>
                                    <div class="contact-card-buttons">
                                        <button type="button" class="btn btn-circle btn-primary m-b-xs"><i class="fas fa-phone"></i></button>
                                        <button type="button" class="btn btn-circle btn-success m-b-xs"><i class="fas fa-reply"></i></button>
                                        <button type="button" class="btn btn-circle btn-danger m-b-xs"><i class="fas fa-video"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                </div>

            <div class="page-footer">
                <a asp-action="MainPage" asp-controller="Event" class="page-footer-item page-footer-item-left"><i data-feather="arrow-left" class="footer-left"></i>Tədbirlər</a>
            </div>
